@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root {
    --main-blue: #71b7e6;
    --main-purple: #9b59b6;
    --main-grey: #ccc;
    --sub-grey: #d9d9d9;
}

body {
    background-color: #F5F5F5;
}

.modal-content form .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2px;
    padding: 26px 0px 0px 0px;
    top: 12px;
    position: relative;
}


/* inside the form user details */

form .user__details .input__box {
    width: calc(100% / 2 - 8px);
    margin-bottom: 30px;
}

.user__details .input__box .details {
    font-weight: 500;
    margin-bottom: 1px;
    display: block;
}

.user__details .input__box input {
    height: 55px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 0px solid var(--main-grey);
    padding: 0px 0px 3px 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #E2E1E3;
    
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;

}

.user__details .input__box input:focus,
.user__details .input__box input:valid {}

form .user__details .input__box1 {
    width: calc(100% / 1 - 1px);
    margin-bottom: 29px;
}

.user__details .input__box1 .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user__details .input__box1 input {
    height: 55px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 0px solid var(--main-grey);
    padding-left: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #E2E1E3;
}


/* inside the form gender details */


/* submit button */

form .button {
    height: 60px;
    margin-bottom: 10rem 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 28px;
    font-weight: 500;
    border-radius: 20px;
    background: #FF9022;
    transition: all 0.3s ease;
}

form .button input:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 420px) {
    .modal-content {
        max-width: 100%;
    }
    form .user__details .input__box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender__details .category {
        width: 100%;
    }
    .modal-content form .user__details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user__details::-webkit-scrollbar {
        width: 0;
    }
}

.modal-content form .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 0 1px 0;
}

.trigger {
    text-align: center;
    padding: 7px 13px;
    background: #e26d3f;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 1.5rem 20rem 1.5rem;
    width: 32rem;
    height: 14rem;
    background: #FBFBFB;
    border: 1px solid #000000;
    border-radius: 15px;
}

.modal-content h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    margin: 9rem;
    position: absolute;
    margin-top: 2.5rem;
    white-space: nowrap;
}

.close-button {
    position: absolute;
    top: 32.2rem;
    left: 16rem;
    cursor: pointer;
    font-size: 12px;
    color: #000000;
}



.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    backdrop-filter: blur(1px);
}



.modal-content1 {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 3.5rem 25rem 3.5rem;
    width: 30rem;
    height: 1rem;
    background: #FBFBFB;
    border: 1px solid #000000;
    border-radius: 15px;
}

.modal-content1 form .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
    padding: 0px 0px 0px 5px;
    top: 12px;
    position: relative;
}

.modal-content1 h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    margin: 9rem;
    position: absolute;
    margin-top: 2.5rem;
    white-space: nowrap;
}

.close-button1 {
    position: absolute;
    top: 24rem;
    left: 17rem;
    cursor: pointer;
    font-size: 12px;
    color: #000000;
}

form .button1 {
    height: 60px;
    margin-top: 0.5rem ;
}

form .button1 input:hover {
    opacity: 0.7;
}

form .button1 input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 28px;
    font-weight: 500;
    border-radius: 20px;
    background: #FF9022;
    transition: all 0.3s ease;
}

.button3 input{
    margin-left: 10px;
    text-decoration: none;
    border: none;
    background-color: #FBFBFB;
    cursor: pointer;
    
    
}

.button3 input:focus  {
    border: none;
    display: none;

}

.button3 input :active{
    border: none;
    
}

